ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
//TODO scollbar not implementing
body {
    &::-webkit-scrollbar-button {
        display: none
    }
    &::-webkit-scrollbar {
        width: 1em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}


.header-title {
    margin: 0;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #434349;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-max {
    max-width: 100%;
}

.nav-link {
    color: theme-color("secondary");
    &:hover {
        color: $body-color;
    }
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.box-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-top: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.box-head-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: flex-first;
}

.box-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
}

//should be in menu.scss

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sidemenu-wrapper {
    background-color: theme-color('primary-dark');
    min-height: 100%;
}

.sidemenu-ul {
    padding-top: 5rem;
    padding-left: 1rem;
    list-style:none;
}

//articles

.single-article {
    border: 1px solid #ebedf2;
    border-radius: 5px;
}

.single-article-heading {
    border-bottom: 1px solid #ebedf2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-article-actions{
    border: 1px solid #ebedf2;
    border-radius: 5px;
    padding: .275rem .5rem;
    cursor: pointer;
    color: #fd397a;
    background-color: theme-color("border-light");
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}

.single-article-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
    overflow-y: auto;
}

.article-scroll {
    max-height: 200px;
    position: relative;
}
