.carousel-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 475px) {
  .carousel-container .carousel-slide .item {
    width: 100%;
  }
}

.carousel-slide {
  display: flex;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
}
.carousel-slide .carousel-items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.carousel-slide .carousel-items-container .item {
  min-width: 33.3%;
  margin: 0 5px;
  box-sizing: border-box;
}

.testimonials-body .prevBtn {
  color: red;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: 2%;
  font-size: 1.2rem;
  cursor: pointer;
}
.testimonials-body .nextBtn {
  color: red;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 2%;
  font-size: 1.2rem;
  cursor: pointer;
}

/*
.prevBtn-icon {
  color: var(--color-alpha);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: 2%;
  font-size: 1.2rem;
  cursor: pointer;
}*/
/*

.nextBtn {
  color: red;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 2%;
  font-size: 1.2rem;
  cursor: pointer;
}*/
body {
  margin: 0;
  width: 100%;
}

.btn:focus {
  outline: none !important;
}
.btn:active {
  outline: none !important;
}

.remove-list-item {
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 2px 4px 12px 5px rgba(56, 0, 61, 0.3);
  -moz-box-shadow: 2px 4px 12px 5px rgba(56, 0, 61, 0.3);
  box-shadow: 2px 4px 12px 5px rgba(56, 0, 61, 0.3);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
}

.header-background-image {
  background-image: url("../../images/header.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-color: #f8f6f6;
  background-size: cover;
}

.header-text {
  padding: 3rem;
  color: #000000;
}

.font-one-point-five {
  font-size: 1.5rem;
  font-weight: 500;
}

.font-two {
  font-size: 2rem;
  font-weight: 500;
}

.font-three-point-five {
  font-size: 3.5rem;
  font-weight: 300;
}

.font-four-point-five {
  font-size: 4.5rem;
  font-weight: 300;
}

.services-wrapper {
  background-color: #000000;
  text-align: center;
}

.services-heading {
  padding-top: 2.25rem;
  padding-bottom: 1.75rem;
}

.services-subtitle-keyword {
  color: theme-color("action");
}

.service-wrapper {
  padding-bottom: 3rem;
}

.service-title {
  color: theme-color("action");
  font-weight: bolder;
  padding: 1rem 0;
}

.articles-wrapper {
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.articles-heading {
  padding-top: 2.25rem;
  padding-bottom: 1.75rem;
}

.article-wrapper {
  padding: 3rem 0;
}

.article-title {
  font-weight: bolder;
  padding: 1rem 0;
}

.articles-img-wrapper {
  width: 50px;
  height: 50px;
}

.articles-img:nth-child(1) {
  background-image: url("../../images/article-img-1.jpg");
}
.articles-img:nth-child(2) {
  background-image: url("../../images/article-img-2.jpg");
}
.articles-img:nth-child(3) {
  background-image: url("../../images/article-img-1.jpg");
}

.testimonials-wrapper {
  background-color: theme-color("primary-dark");
  color: #e6e6e6;
  text-align: center;
}

.testimonials-subtitle-keywords {
  color: theme-color("action");
  font-weight: bolder;
}

.testimonials-item {
  width: 500px;
  height: 400px;
  background-color: #0abb87;
}

.contact-wrapper {
  background: url("http://www.myaffiliatesquad.com/img/call-bgr.png") no-repeat left;
  background-size: cover;
  color: #000000;
  text-align: center;
}

.contact-title {
  font-weight: bolder;
  padding: 1rem 0;
}

.contact-form-wrapper {
  background-color: #FFFFFF;
}

.contact-form {
  padding: 2rem 1rem;
}

.submit {
  outline: none;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background: #9816f4;
  background: linear-gradient(135deg, #9816f4 30%, #f4516c 100%);
  border: 0;
  webkit-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19);
  box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19);
  border-radius: 60px;
}
.submit:hover {
  webkit-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.36) !important;
  box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.36) !important;
  outline: none;
}

.footer-list {
  background-color: #343A40;
  color: #e6e6e6;
}

.footer-link {
  font-weight: bolder;
  padding: 1rem 0;
  letter-spacing: 3px;
}

.single-article-wrapper {
  background-color: #ffffff;
  color: #343A40;
}

.article-page-title {
  font-weight: bolder;
  padding: 1rem 0;
  color: #38003D;
  text-align: center;
  font-size: 2.25rem;
}

.article-page-description {
  color: #343A40;
}

/*# sourceMappingURL=styles.css.map */
